ul[class^="cells"] {
  display: block;
}

/*For cells that are in the current column and are selected*/
/*li[class^="selected-current-column-cell"] {
  float: left;
  height: 40px;
  width: 40px;
  margin: 2px;
  border-radius: 2px;
  background: linear-gradient(to top right, #333);
}*/

li[class^="selected-current-column-cell"] {
  float: left;
  height: 40px;
  width: 40px;
  margin: 2px;
  border-radius: 2px;
  background: #488d5a;

  animation:pulse 2s;
  -moz-animation:pulse 2s infinite; /* Firefox */
  -webkit-animation:pulse 2s infinite; /* Safari and Chrome */
}

@-moz-keyframes pulse /* Firefox */
{
  25%   {background: #1a2a19;}
  50%   {background: #488d5a;}
  100%   {background: #488d5a;}
}

@-webkit-keyframes pulse /* Safari and Chrome */
{
  25%   {background: #1a2a19;}
  50%   {background: #488d5a;}
  100%   {background: #488d5a;}
}

/*For cells that are in the current column but are not selected*/
li[class^="current-column-cell"] {
  float: left;
  height: 40px;
  width: 40px;
  margin: 2px;
  border-radius: 2px;
  background: linear-gradient(to top right, #333, #888);
}

li[class^="current-column-cell"]:hover {
  background: linear-gradient(to top right, #222, #444);
}

/*For selected cells that are not in the current column*/
li[class^="selected-cell"] {
  float: left;
  height: 40px;
  width: 40px;
  margin: 2px;
  border-radius: 2px;
  background: linear-gradient(to top right, #1a2a19, #488d5a);
}

/* For alternating bars. Consider switching background w/ normal cell background in style.scss*/
li[class^="alternating-cell"] {
  float: left;
  height: 40px;
  width: 40px;
  margin: 2px;
  border-radius: 2px;
  background: linear-gradient(to top right, #111, #333);
}

li[class^="alternating-cell"]:hover {
  background: linear-gradient(to top right, #050505, #222);
}

.btn-about {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5px;
  width: 80px;
  height: 28px;
  background-color: #ccc;
  border: none;
  font-size: 12px;
  cursor: default;
  letter-spacing: 2px;
  border-radius: 5px;
  color: black;
  transition: 0.2s;
}

.btn-about:hover {
  background-color: #aaa;
}

.modal-content {
  padding: 10px;
  color: white;
  font-size: 20px;
}
